In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_2016 = pd.read_csv('NBA_totals_2015-2016.csv')
df_2017 = pd.read_csv('NBA_totals_2016-2017.csv')
df_2018 = pd.read_csv('NBA_totals_2017-2018.csv')
df_2019 = pd.read_csv('NBA_totals_2018-2019.csv')
df_2020 = pd.read_csv('NBA_totals_2019-2020.csv')

In [3]:
df_2020['Player']

0                  Steven Adams
1                   Bam Adebayo
2             LaMarcus Aldridge
3                Kyle Alexander
4      Nickeil Alexander-Walker
                 ...
646                  Trae Young
647                 Cody Zeller
648                Tyler Zeller
649                  Ante Žižić
650                 Ivica Zubac
Name: Player, Length: 651, dtype: object

In [4]:
df_2020

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Steven Adams,C,26,OKC,63,63,1680,283,478,0.592,...,0.582,207,376,583,146,51,67,94,122,684
1,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,0.557,...,0.691,176,559,735,368,82,93,204,182,1146
2,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,0.493,...,0.827,103,289,392,129,36,87,74,128,1001
3,Kyle Alexander,PF,23,MIA,2,0,13,1,2,0.500,...,NaN,2,1,3,0,0,0,1,1,2
4,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,0.368,...,0.676,9,75,84,89,17,8,54,57,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,Trae Young,PG,21,ATL,60,60,2120,546,1249,0.437,...,0.860,32,223,255,560,65,8,289,104,1778
647,Cody Zeller,C,27,CHO,58,39,1341,251,479,0.524,...,0.682,160,251,411,88,40,25,75,140,642
648,Tyler Zeller,C,30,SAS,2,0,4,1,4,0.250,...,NaN,3,1,4,0,0,0,0,0,2
649,Ante Žižić,C,23,CLE,22,0,221,41,72,0.569,...,0.737,18,48,66,6,7,5,10,27,96
650,Ivica Zubac,C,22,LAC,72,70,1326,236,385,0.613,...,0.747,197,346,543,82,16,66,61,168,596

In [5]:
#displaying only point-gards
pg = df_2020[df_2020["Pos"]=="PG"]
pg

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
17,Ryan Arcidiacono,PG,25,CHI,58,4,930,90,220,0.409,...,0.711,20,90,110,96,27,3,37,96,261
21,D.J. Augustin,PG,32,ORL,57,13,1420,184,461,0.399,...,0.890,22,100,122,262,34,1,86,72,599
25,Lonzo Ball,PG,22,NOP,63,54,2025,277,687,0.403,...,0.566,71,312,383,438,88,38,193,128,745
27,J.J. Barea,PG,35,DAL,29,6,450,85,207,0.411,...,0.909,10,43,53,112,5,2,38,27,222
53,Patrick Beverley,PG,31,LAC,51,50,1342,147,341,0.431,...,0.660,57,209,266,183,54,25,66,156,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,Tremont Waters,PG,22,BOS,11,1,119,14,49,0.286,...,1.000,0,12,12,16,10,2,15,13,40
623,Russell Westbrook,PG,31,HOU,57,57,2049,604,1281,0.472,...,0.763,100,351,451,401,93,20,255,200,1553
638,Nigel Williams-Goss,PG,25,UTA,10,0,50,5,16,0.313,...,1.000,2,4,6,6,3,1,3,6,14
644,Justin Wright-Foreman,PG,22,UTA,4,0,45,7,20,0.350,...,0.750,0,5,5,7,2,0,3,5,19
646,Trae Young,PG,21,ATL,60,60,2120,546,1249,0.437,...,0.860,32,223,255,560,65,8,289,104,1778

In [6]:
pg.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [7]:
basic_stats_2016 = df_2016.loc[:, ['Player', 'G', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]
basic_stats_2017 = df_2017.loc[:, ['Player', 'G', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]
basic_stats_2018 = df_2018.loc[:, ['Player', 'G', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]
basic_stats_2019 = df_2019.loc[:, ['Player', 'G', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]
basic_stats_2020 = df_2020.loc[:, ['Player', 'G', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]

In [8]:
basic_stats = basic_stats_2016.append(basic_stats_2017).append(basic_stats_2018).append(basic_stats_2019).append(basic_stats_2020)
basic_stats

,Player,G,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Quincy Acy,59,214,19,49,100,165,50,68,65,123,188,27,29,24,27,103,307
1,Jordan Adams,2,6,0,1,2,5,3,5,0,2,2,3,3,0,2,2,7
2,Steven Adams,80,426,0,0,261,426,114,196,219,314,533,62,42,89,84,223,636
3,Arron Afflalo,71,799,91,238,263,561,110,131,23,243,266,144,25,10,82,142,909
4,Alexis Ajinca,59,315,0,1,150,314,52,62,75,194,269,31,19,36,54,134,352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,Trae Young,60,1249,205,568,341,681,481,559,32,223,255,560,65,8,289,104,1778
647,Cody Zeller,58,479,18,75,233,404,122,179,160,251,411,88,40,25,75,140,642
648,Tyler Zeller,2,4,0,0,1,4,0,0,3,1,4,0,0,0,0,0,2
649,Ante Žižić,22,72,0,0,41,72,14,19,18,48,66,6,7,5,10,27,96
650,Ivica Zubac,72,385,0,2,236,383,124,166,197,346,543,82,16,66,61,168,596

In [9]:
summed_basic_stats = basic_stats.groupby(['Player']).sum()
summed_basic_stats

,G,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,
A.J. Hammons,22,42,5,10,12,32,9,20,8,28,36,4,1,13,10,21,48
Aaron Brooks,166,838,125,344,212,494,89,115,46,141,187,325,61,19,159,253,888
Aaron Gordon,356,4122,428,1335,1419,2787,778,1112,593,1825,2418,931,291,235,524,733,4900
Aaron Harrison,35,92,12,55,12,37,19,31,8,34,42,16,15,2,7,39,79
Aaron Holiday,116,825,130,348,208,477,115,137,27,196,223,312,76,29,128,191,921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zhou Qi,19,33,2,19,5,14,8,12,6,16,22,2,2,14,10,14,24
Zion Williamson,24,360,6,14,204,346,114,178,64,86,150,50,16,9,59,42,540
Zylan Cheatham,4,9,0,1,6,8,0,0,3,6,9,3,1,1,4,10,12
Álex Abrines,31,157,41,127,15,30,12,13,5,43,48,20,17,6,14,53,165
Ángel Delgado,2,5,0,0,1,5,1,2,2,2,4,0,1,0,0,2,3

In [10]:
def custom_round_up(x):
    return round(x, 1)

avg_stats = summed_basic_stats.loc[:,(summed_basic_stats.columns != "Player") & (summed_basic_stats.columns != "G")].div(summed_basic_stats["G"], axis=0)
avg_stats = avg_stats.applymap(custom_round_up)
avg_stats

,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,
A.J. Hammons,1.9,0.2,0.5,0.5,1.5,0.4,0.9,0.4,1.3,1.6,0.2,0.0,0.6,0.5,1.0,2.2
Aaron Brooks,5.0,0.8,2.1,1.3,3.0,0.5,0.7,0.3,0.8,1.1,2.0,0.4,0.1,1.0,1.5,5.3
Aaron Gordon,11.6,1.2,3.8,4.0,7.8,2.2,3.1,1.7,5.1,6.8,2.6,0.8,0.7,1.5,2.1,13.8
Aaron Harrison,2.6,0.3,1.6,0.3,1.1,0.5,0.9,0.2,1.0,1.2,0.5,0.4,0.1,0.2,1.1,2.3
Aaron Holiday,7.1,1.1,3.0,1.8,4.1,1.0,1.2,0.2,1.7,1.9,2.7,0.7,0.2,1.1,1.6,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zhou Qi,1.7,0.1,1.0,0.3,0.7,0.4,0.6,0.3,0.8,1.2,0.1,0.1,0.7,0.5,0.7,1.3
Zion Williamson,15.0,0.2,0.6,8.5,14.4,4.8,7.4,2.7,3.6,6.2,2.1,0.7,0.4,2.5,1.8,22.5
Zylan Cheatham,2.2,0.0,0.2,1.5,2.0,0.0,0.0,0.8,1.5,2.2,0.8,0.2,0.2,1.0,2.5,3.0
Álex Abrines,5.1,1.3,4.1,0.5,1.0,0.4,0.4,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
Ángel Delgado,2.5,0.0,0.0,0.5,2.5,0.5,1.0,1.0,1.0,2.0,0.0,0.5,0.0,0.0,1.0,1.5

In [11]:
df_2016_advanced = pd.read_csv('NBA_advanced_2015-2016.csv')
defense = df_2016_advanced[["Player", "DWS"]]