In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
df_2016 = pd.read_csv('NBA_totals_2015-2016.csv')
df_2017 = pd.read_csv('NBA_totals_2016-2017.csv')
df_2018 = pd.read_csv('NBA_totals_2017-2018.csv')
df_2019 = pd.read_csv('NBA_totals_2018-2019.csv')
df_2020 = pd.read_csv('NBA_totals_2019-2020.csv')

In [3]:
df_2020['Player']

0                  Steven Adams
1                   Bam Adebayo
2             LaMarcus Aldridge
3                Kyle Alexander
4      Nickeil Alexander-Walker
                 ...
646                  Trae Young
647                 Cody Zeller
648                Tyler Zeller
649                  Ante Žižić
650                 Ivica Zubac
Name: Player, Length: 651, dtype: object

In [4]:
df_2020

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Steven Adams,C,26,OKC,63,63,1680,283,478,0.592,...,0.582,207,376,583,146,51,67,94,122,684
1,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,0.557,...,0.691,176,559,735,368,82,93,204,182,1146
2,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,0.493,...,0.827,103,289,392,129,36,87,74,128,1001
3,Kyle Alexander,PF,23,MIA,2,0,13,1,2,0.500,...,NaN,2,1,3,0,0,0,1,1,2
4,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,0.368,...,0.676,9,75,84,89,17,8,54,57,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,Trae Young,PG,21,ATL,60,60,2120,546,1249,0.437,...,0.860,32,223,255,560,65,8,289,104,1778
647,Cody Zeller,C,27,CHO,58,39,1341,251,479,0.524,...,0.682,160,251,411,88,40,25,75,140,642
648,Tyler Zeller,C,30,SAS,2,0,4,1,4,0.250,...,NaN,3,1,4,0,0,0,0,0,2
649,Ante Žižić,C,23,CLE,22,0,221,41,72,0.569,...,0.737,18,48,66,6,7,5,10,27,96
650,Ivica Zubac,C,22,LAC,72,70,1326,236,385,0.613,...,0.747,197,346,543,82,16,66,61,168,596

In [5]:
#displaying only point-gards
pg = df_2020[df_2020["Pos"]=="PG"]
pg

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
17,Ryan Arcidiacono,PG,25,CHI,58,4,930,90,220,0.409,...,0.711,20,90,110,96,27,3,37,96,261
21,D.J. Augustin,PG,32,ORL,57,13,1420,184,461,0.399,...,0.890,22,100,122,262,34,1,86,72,599
25,Lonzo Ball,PG,22,NOP,63,54,2025,277,687,0.403,...,0.566,71,312,383,438,88,38,193,128,745
27,J.J. Barea,PG,35,DAL,29,6,450,85,207,0.411,...,0.909,10,43,53,112,5,2,38,27,222
53,Patrick Beverley,PG,31,LAC,51,50,1342,147,341,0.431,...,0.660,57,209,266,183,54,25,66,156,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,Tremont Waters,PG,22,BOS,11,1,119,14,49,0.286,...,1.000,0,12,12,16,10,2,15,13,40
623,Russell Westbrook,PG,31,HOU,57,57,2049,604,1281,0.472,...,0.763,100,351,451,401,93,20,255,200,1553
638,Nigel Williams-Goss,PG,25,UTA,10,0,50,5,16,0.313,...,1.000,2,4,6,6,3,1,3,6,14
644,Justin Wright-Foreman,PG,22,UTA,4,0,45,7,20,0.350,...,0.750,0,5,5,7,2,0,3,5,19
646,Trae Young,PG,21,ATL,60,60,2120,546,1249,0.437,...,0.860,32,223,255,560,65,8,289,104,1778

In [6]:
pg.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [7]:
basic_stats_2016 = df_2016.loc[:, ['Player', 'G', 'MP', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]
basic_stats_2017 = df_2017.loc[:, ['Player', 'G', 'MP', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]
basic_stats_2018 = df_2018.loc[:, ['Player', 'G', 'MP', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]
basic_stats_2019 = df_2019.loc[:, ['Player', 'G', 'MP', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]
basic_stats_2020 = df_2020.loc[:, ['Player', 'G', 'MP', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] ]

In [8]:
basic_stats = basic_stats_2016.append(basic_stats_2017).append(basic_stats_2018).append(basic_stats_2019).append(basic_stats_2020)
basic_stats

,Player,G,MP,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Quincy Acy,59,876,214,19,49,100,165,50,68,65,123,188,27,29,24,27,103,307
1,Jordan Adams,2,15,6,0,1,2,5,3,5,0,2,2,3,3,0,2,2,7
2,Steven Adams,80,2014,426,0,0,261,426,114,196,219,314,533,62,42,89,84,223,636
3,Arron Afflalo,71,2371,799,91,238,263,561,110,131,23,243,266,144,25,10,82,142,909
4,Alexis Ajinca,59,861,315,0,1,150,314,52,62,75,194,269,31,19,36,54,134,352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,Trae Young,60,2120,1249,205,568,341,681,481,559,32,223,255,560,65,8,289,104,1778
647,Cody Zeller,58,1341,479,18,75,233,404,122,179,160,251,411,88,40,25,75,140,642
648,Tyler Zeller,2,4,4,0,0,1,4,0,0,3,1,4,0,0,0,0,0,2
649,Ante Žižić,22,221,72,0,0,41,72,14,19,18,48,66,6,7,5,10,27,96
650,Ivica Zubac,72,1326,385,0,2,236,383,124,166,197,346,543,82,16,66,61,168,596

In [9]:
# on group par joueur
summed_basic_stats = basic_stats.groupby(['Player']).sum()
summed_basic_stats

,G,MP,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,
A.J. Hammons,22,163,42,5,10,12,32,9,20,8,28,36,4,1,13,10,21,48
Aaron Brooks,166,2191,838,125,344,212,494,89,115,46,141,187,325,61,19,159,253,888
Aaron Gordon,356,10720,4122,428,1335,1419,2787,778,1112,593,1825,2418,931,291,235,524,733,4900
Aaron Harrison,35,343,92,12,55,12,37,19,31,8,34,42,16,15,2,7,39,79
Aaron Holiday,116,2263,825,130,348,208,477,115,137,27,196,223,312,76,29,128,191,921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zhou Qi,19,125,33,2,19,5,14,8,12,6,16,22,2,2,14,10,14,24
Zion Williamson,24,668,360,6,14,204,346,114,178,64,86,150,50,16,9,59,42,540
Zylan Cheatham,4,51,9,0,1,6,8,0,0,3,6,9,3,1,1,4,10,12
Álex Abrines,31,588,157,41,127,15,30,12,13,5,43,48,20,17,6,14,53,165
Ángel Delgado,2,15,5,0,0,1,5,1,2,2,2,4,0,1,0,0,2,3

In [10]:
# on enleve ceux qui ont joué moins de 100 matches
summed_basic_stats = summed_basic_stats[summed_basic_stats["G"] > 100 ]
summed_basic_stats

,G,MP,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,
Aaron Brooks,166,2191,838,125,344,212,494,89,115,46,141,187,325,61,19,159,253,888
Aaron Gordon,356,10720,4122,428,1335,1419,2787,778,1112,593,1825,2418,931,291,235,524,733,4900
Aaron Holiday,116,2263,825,130,348,208,477,115,137,27,196,223,312,76,29,128,191,921
Abdel Nader,164,2083,627,103,293,161,334,101,141,41,246,287,84,58,42,103,191,732
Al Horford,357,11099,4034,443,1210,1539,2824,444,559,569,1936,2505,1492,274,432,536,707,4851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yogi Ferrell,295,6273,2058,348,939,515,1119,326,390,85,544,629,751,202,35,286,435,2400
Zach Collins,154,2691,757,82,253,254,504,127,176,179,435,614,139,47,102,149,343,881
Zach LaVine,276,8955,4358,589,1554,1375,2804,945,1159,136,929,1065,999,282,85,704,623,5462
Zach Randolph,200,5310,2634,78,267,1147,2367,397,516,458,1066,1524,391,123,33,320,401,2925
Zaza Pachulia,283,5122,1234,0,10,617,1224,482,619,577,1137,1714,460,192,89,335,620,1716

In [11]:
# on arrondi a un chiffre après la virgule
def custom_round_up(x, y):
    return round(x, y)

avg_stats = summed_basic_stats.loc[:,(summed_basic_stats.columns != "Player") & (summed_basic_stats.columns != "G")].div(summed_basic_stats["G"], axis=0)
avg_stats = avg_stats.apply(custom_round_up, args=[1])
avg_stats

,MP,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,
Aaron Brooks,13.2,5.0,0.8,2.1,1.3,3.0,0.5,0.7,0.3,0.8,1.1,2.0,0.4,0.1,1.0,1.5,5.3
Aaron Gordon,30.1,11.6,1.2,3.8,4.0,7.8,2.2,3.1,1.7,5.1,6.8,2.6,0.8,0.7,1.5,2.1,13.8
Aaron Holiday,19.5,7.1,1.1,3.0,1.8,4.1,1.0,1.2,0.2,1.7,1.9,2.7,0.7,0.2,1.1,1.6,7.9
Abdel Nader,12.7,3.8,0.6,1.8,1.0,2.0,0.6,0.9,0.2,1.5,1.8,0.5,0.4,0.3,0.6,1.2,4.5
Al Horford,31.1,11.3,1.2,3.4,4.3,7.9,1.2,1.6,1.6,5.4,7.0,4.2,0.8,1.2,1.5,2.0,13.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yogi Ferrell,21.3,7.0,1.2,3.2,1.7,3.8,1.1,1.3,0.3,1.8,2.1,2.5,0.7,0.1,1.0,1.5,8.1
Zach Collins,17.5,4.9,0.5,1.6,1.6,3.3,0.8,1.1,1.2,2.8,4.0,0.9,0.3,0.7,1.0,2.2,5.7
Zach LaVine,32.4,15.8,2.1,5.6,5.0,10.2,3.4,4.2,0.5,3.4,3.9,3.6,1.0,0.3,2.6,2.3,19.8
Zach Randolph,26.6,13.2,0.4,1.3,5.7,11.8,2.0,2.6,2.3,5.3,7.6,2.0,0.6,0.2,1.6,2.0,14.6
Zaza Pachulia,18.1,4.4,0.0,0.0,2.2,4.3,1.7,2.2,2.0,4.0,6.1,1.6,0.7,0.3,1.2,2.2,6.1

In [12]:
# on doit ramener sur 36 minutes
avg_stats_36_minutes = avg_stats.div((avg_stats["MP"]/36) , axis=0)
avg_stats_36_minutes = avg_stats_36_minutes.apply(custom_round_up, args=[1])
names = pd.DataFrame(avg_stats_36_minutes.index)
names

            Player
0     Aaron Brooks
1     Aaron Gordon
2    Aaron Holiday
3      Abdel Nader
4       Al Horford
..             ...
486   Yogi Ferrell
487   Zach Collins
488    Zach LaVine
489  Zach Randolph
490  Zaza Pachulia

[491 rows x 1 columns]

In [13]:
# Scaling
x = avg_stats_36_minutes.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
avg_stats_36_minutes_scaled = pd.DataFrame(x_scaled)
avg_stats_36_minutes_scaled = avg_stats_36_minutes_scaled.rename(columns={ 0: 'MP', 1: 'FGA', 2:'3P', 3:'3PA', 4:'2P', 5:'2PA', 6:'FT', 7:'FTA', 8:'ORB', 9:'DRB', 10:'TRB', 11:'AST', 12:'STL', 13:'BLK', 14:'TOV', 15:'PF', 16:'PTS'})
avg_stats_36_minutes_scaled = avg_stats_36_minutes_scaled.apply(custom_round_up, args=[2])
avg_stats_36_minutes_scaled

,MP,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,0.51,0.44,0.50,0.33,0.44,0.12,0.14,0.12,0.09,0.08,0.49,0.38,0.08,0.51,0.47,0.34
1,0.0,0.52,0.28,0.39,0.48,0.51,0.26,0.32,0.35,0.46,0.42,0.25,0.33,0.22,0.30,0.19,0.42
2,0.0,0.48,0.40,0.48,0.30,0.41,0.17,0.17,0.04,0.17,0.11,0.44,0.48,0.11,0.35,0.28,0.34
3,0.0,0.33,0.34,0.44,0.24,0.29,0.16,0.21,0.08,0.29,0.22,0.07,0.38,0.25,0.28,0.35,0.27
4,0.0,0.48,0.28,0.34,0.51,0.50,0.12,0.14,0.33,0.48,0.42,0.43,0.29,0.39,0.28,0.16,0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,0.0,0.39,0.40,0.47,0.25,0.33,0.18,0.17,0.06,0.16,0.11,0.36,0.43,0.06,0.28,0.19,0.31
487,0.0,0.29,0.20,0.29,0.30,0.36,0.15,0.18,0.45,0.43,0.43,0.12,0.14,0.39,0.37,0.54,0.23
488,0.0,0.76,0.46,0.54,0.58,0.64,0.40,0.42,0.08,0.24,0.17,0.34,0.38,0.08,0.56,0.21,0.64
489,0.0,0.77,0.10,0.16,0.83,0.93,0.27,0.30,0.57,0.57,0.57,0.21,0.24,0.08,0.40,0.23,0.55
490,0.0,0.21,0.00,0.00,0.43,0.47,0.35,0.39,0.75,0.64,0.69,0.26,0.52,0.17,0.44,0.53,0.24

In [16]:
# On remet les noms
avg_stats_36_minutes_scaled = pd.concat([names, avg_stats_36_minutes_scaled], axis=1)
avg_stats_36_minutes_scaled

,Player,MP,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Aaron Brooks,0.0,0.51,0.44,0.50,0.33,0.44,0.12,0.14,0.12,0.09,0.08,0.49,0.38,0.08,0.51,0.47,0.34
1,Aaron Gordon,0.0,0.52,0.28,0.39,0.48,0.51,0.26,0.32,0.35,0.46,0.42,0.25,0.33,0.22,0.30,0.19,0.42
2,Aaron Holiday,0.0,0.48,0.40,0.48,0.30,0.41,0.17,0.17,0.04,0.17,0.11,0.44,0.48,0.11,0.35,0.28,0.34
3,Abdel Nader,0.0,0.33,0.34,0.44,0.24,0.29,0.16,0.21,0.08,0.29,0.22,0.07,0.38,0.25,0.28,0.35,0.27
4,Al Horford,0.0,0.48,0.28,0.34,0.51,0.50,0.12,0.14,0.33,0.48,0.42,0.43,0.29,0.39,0.28,0.16,0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,Yogi Ferrell,0.0,0.39,0.40,0.47,0.25,0.33,0.18,0.17,0.06,0.16,0.11,0.36,0.43,0.06,0.28,0.19,0.31
487,Zach Collins,0.0,0.29,0.20,0.29,0.30,0.36,0.15,0.18,0.45,0.43,0.43,0.12,0.14,0.39,0.37,0.54,0.23
488,Zach LaVine,0.0,0.76,0.46,0.54,0.58,0.64,0.40,0.42,0.08,0.24,0.17,0.34,0.38,0.08,0.56,0.21,0.64
489,Zach Randolph,0.0,0.77,0.10,0.16,0.83,0.93,0.27,0.30,0.57,0.57,0.57,0.21,0.24,0.08,0.40,0.23,0.55
490,Zaza Pachulia,0.0,0.21,0.00,0.00,0.43,0.47,0.35,0.39,0.75,0.64,0.69,0.26,0.52,0.17,0.44,0.53,0.24

In [18]:
#On enleve la colonne "MP"
avg_stats_36_minutes_scaled.drop(["MP"], axis=1)

,Player,FGA,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Aaron Brooks,0.51,0.44,0.50,0.33,0.44,0.12,0.14,0.12,0.09,0.08,0.49,0.38,0.08,0.51,0.47,0.34
1,Aaron Gordon,0.52,0.28,0.39,0.48,0.51,0.26,0.32,0.35,0.46,0.42,0.25,0.33,0.22,0.30,0.19,0.42
2,Aaron Holiday,0.48,0.40,0.48,0.30,0.41,0.17,0.17,0.04,0.17,0.11,0.44,0.48,0.11,0.35,0.28,0.34
3,Abdel Nader,0.33,0.34,0.44,0.24,0.29,0.16,0.21,0.08,0.29,0.22,0.07,0.38,0.25,0.28,0.35,0.27
4,Al Horford,0.48,0.28,0.34,0.51,0.50,0.12,0.14,0.33,0.48,0.42,0.43,0.29,0.39,0.28,0.16,0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,Yogi Ferrell,0.39,0.40,0.47,0.25,0.33,0.18,0.17,0.06,0.16,0.11,0.36,0.43,0.06,0.28,0.19,0.31
487,Zach Collins,0.29,0.20,0.29,0.30,0.36,0.15,0.18,0.45,0.43,0.43,0.12,0.14,0.39,0.37,0.54,0.23
488,Zach LaVine,0.76,0.46,0.54,0.58,0.64,0.40,0.42,0.08,0.24,0.17,0.34,0.38,0.08,0.56,0.21,0.64
489,Zach Randolph,0.77,0.10,0.16,0.83,0.93,0.27,0.30,0.57,0.57,0.57,0.21,0.24,0.08,0.40,0.23,0.55
490,Zaza Pachulia,0.21,0.00,0.00,0.43,0.47,0.35,0.39,0.75,0.64,0.69,0.26,0.52,0.17,0.44,0.53,0.24