In [7]:
import pandas as pd

In [8]:
pd.read_csv('NBA_totals_2019-2020.csv')

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Steven Adams,C,26,OKC,63,63,1680,283,478,0.592,...,0.582,207,376,583,146,51,67,94,122,684
1,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,0.557,...,0.691,176,559,735,368,82,93,204,182,1146
2,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,0.493,...,0.827,103,289,392,129,36,87,74,128,1001
3,Kyle Alexander,PF,23,MIA,2,0,13,1,2,0.500,...,NaN,2,1,3,0,0,0,1,1,2
4,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,0.368,...,0.676,9,75,84,89,17,8,54,57,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,Trae Young,PG,21,ATL,60,60,2120,546,1249,0.437,...,0.860,32,223,255,560,65,8,289,104,1778
647,Cody Zeller,C,27,CHO,58,39,1341,251,479,0.524,...,0.682,160,251,411,88,40,25,75,140,642
648,Tyler Zeller,C,30,SAS,2,0,4,1,4,0.250,...,NaN,3,1,4,0,0,0,0,0,2
649,Ante Žižić,C,23,CLE,22,0,221,41,72,0.569,...,0.737,18,48,66,6,7,5,10,27,96
650,Ivica Zubac,C,22,LAC,72,70,1326,236,385,0.613,...,0.747,197,346,543,82,16,66,61,168,596